
body {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  line-height: 1.1;
}

textarea {
  font-family: "Roboto", sans-serif;
  font-size: 18pt;
  width: 30em;
  height: 8em;
}

input[type=button] {
  font-family: "Roboto", sans-serif;
  font-size: 30pt;
  width: 10em;
}

input[type=range] {
  height: 50px;
}

#output {
  font-size: 25pt;
  margin: 10px;
}

#bad_slider {
  visibility: hidden;
}

.bad {
  color: black;
  background: #080808;
}

.good {
  color: black;
}
