
body {
  font-size: 18pt;
  font-family: monospace;
  overflow-y: scroll;
  background: white;
  line-height: 1.1;
  margin: 0;
  background: lightgray;
}

h1 {
  font-size: 14pt;
  background: #000080;
  color: white;
  margin: 0;
  padding: 2px;
}

#contents {
  margin: 5px;
  position: absolute;
  width: 600px;
  margin-left: -300px;
  top: 0;
  left: 50%;
}

#control {
  max-width: 300px;
}

#poem {
  font-family: "Times New Roman", serif;
  font-size: 20pt;
  margin-left: 5px;
  padding: 10px;
  background: white;
  width: 400px;
  border: solid darkgray 1px;
}

table {
  border-spacing: 0;
}

#control, #poem {
  display: flex;
  flex: 1;
}

#emoji {
  flex: 1;
}

.vert {
  flex: 1;
  display: grid;
}

.horiz {
  display: flex;
  flex: 1;
}

#control .control-cell {
  background: white;
}

#control.emoji-selected .control-cell, #control .control-cell.full {
  cursor: pointer;
}

#control.emoji-selected .control-cell:hover, #control .control-cell.full:hover {
  background: lightgray;
}

.tab-button {
  width: 98px;
  font-weight: bold;
  background: lightgray;
  border: solid darkgray 1px;
  cursor: pointer;
}

.tab-button.selected {
  background: white;
  border: solid black 2px;
}

.emoji-cell {
  background: lightgray;
}

.emoji-cell.enabled {
  cursor: pointer;
}

.emoji-cell.enabled:hover {
  background: white;
}

.emoji-cell.selected {
  background: white;
}

